body{
    background: #000;
    height: 90vh;
    align-items: center;
}
.infinity {
  position: absolute;
  top: calc(50vh - 80px);
  left: calc(50vw - 89px);
  width: 178px;
  height: 80px;
}
.infinity:not(.second) {
    margin-top: 2px;
}
.infinity:before,
.infinity:after {
  content: "";
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border: 10px solid #fff;
  /* border-image-source: linear-gradient(45deg, rgb(0,143,104), rgb(250,224,66));
  border-image-slice: 1; */
  border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  transform: rotate(45deg);
}
.infinity:after {
  left: auto;
  right: 0;
  transform: rotate(-135deg);
}
.second:before,
.second:after {
    animation: mymove 5s infinite;
    opacity: 0.8;
}
@keyframes mymove {
  from {border: 12px solid red;}
  50% {border: 12px solid blue;}
  to {border: 12px solid red;}
}
.second {
    position: absolute;
}
